#virtualCursor{
    width:20px;
    height:20px;
    background:red;
    border-radius:50%;
    position:fixed;
    pointer-events:none;
    z-index:9999;
    display:none;
    }

#virtualCursor{
    width:25px;
    height:25px;
    border-radius:50%;
    background:red;
    position:fixed;
    pointer-events:none;
    z-index:9999;
    display:none;
    transition:transform 0.05s;
    }
#virtualCursor{
    background:radial-gradient(circle, red, orange);
    box-shadow:0 0 10px red;
    }